<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Macro for plate joint -->
    <xacro:macro name="plate" params="num parent">
        <link name="plate_${num}_link">
            <xacro:cylinder_inertial_matrix  m="${plate_mass}" r="${base_link_radius}" h="${base_link_length}" />
            <visual>
                <origin xyz=" 0 0 0 " rpy="0 0 0" />
                <geometry>
                    <cylinder length="${base_link_length}" radius="${base_link_radius}"/>
                </geometry>
                <material name="yellow"/>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="${base_link_length}" radius="${base_link_radius}"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="plate_${num}_link">
            <material>Gazebo/Blue</material>
        </gazebo>
        <joint name="plate_${num}_joint" type="fixed">
            <origin xyz="0 0 ${plate_height}" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="plate_${num}_link" />
        </joint>
    </xacro:macro>

</robot>