<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--All units in m-kg-s-radians unit system -->
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- Main body length, width, height and mass -->
    <xacro:property name="base_mass"        value="5.0" />
    <xacro:property name="base_link_radius" value="0.13"/>
    <xacro:property name="base_link_length" value="0.005"/>

    <xacro:property name="motor_x" value="-0.05"/>

    <!-- Wheel radius, height and mass -->
    <xacro:property name="wheel_radius" value="0.033" />
    <xacro:property name="wheel_height" value="0.017" />
    <xacro:property name="wheel_mass"   value="1.0" />

    <!-- Caster radius and mass -->
    <xacro:property name="caster_radius"          value="0.016" />
    <xacro:property name="caster_mass"            value="1.0" />
    <xacro:property name="caster_joint_origin_x"  value="-0.12" />

    <!-- plate height and mass -->
    <xacro:property name="plate_mass"   value="0.05"/>
    <xacro:property name="plate_height" value="0.07"/>
    <xacro:property name="standoff_x"   value="0.12"/>
    <xacro:property name="standoff_y"   value="0.10"/>

</robot>
