<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # robot navigation -->
    <include file="$(find my_navigation)/launch/main_1.launch" /> <!-- # GPS navigation with amcl and gazebo odom -->

    <!-- <?ignore -->
    <!-- # fsm -->
    <node pkg="my_fsm" type="fsm.py" name="fsm" output="screen">
        <param name="ns_action" value="/move_base" />
        <param name="path_file" value="$(find my_fsm)/file/waypoints.csv" />
        <param name="top_cmd_vel" value="/cmd_vel" />
    </node>

    <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="screen" />
    <!-- ?> -->

</launch>
