<?xml version="1.0" encoding="utf-8"?>

<!-- # tf
map
    gmapping
odom
    ekf imu + odom
base_link
-->

<launch>

    <!-- # gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/cloister.world" />
        <!-- <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/playpen.world" /> -->
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- # spawm robot -->
    <include file="$(find ros_my_robot_gazebo)/launch/spawn_mrobot.launch">
        <arg name="tf_odom_enabled" value="false" />
    </include>

    <!-- # move_base -->
    <include file="$(find ros_my_move_base)/launch/move_base.launch">
        <arg name="use_map" value="false" />
    </include>

    <!-- # gmapping -->
    <include file="$(find ros_my_mapping)/launch/gmapping.launch" />

    <!-- # robot localization -->
    <include file="$(find ros_my_localization)/launch/ekf_odom.launch" />

    <!-- # rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_navigation)/rviz/nav.rviz" />

</launch>
