<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # joint and robot state -->
    <rosparam file="$(find my_robot)/config/arm_trans.yaml" command="load" />

    <node name="controller" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="joint_state_controller
                joint1_position_controller
                joint2_position_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- # rostopic make joint initial position-->
    <node pkg="rostopic" type="rostopic" name="j1_init" output="screen"
          args="pub
                --once
                /joint1_position_controller/command
                std_msgs/Float64
                'data: 0.0'
                " />

    <node pkg="rostopic" type="rostopic" name="j2_init" output="screen"
          args="pub
                --once
                /joint2_position_controller/command
                std_msgs/Float64
                'data: 0.0'
                " />

    <!-- # covert servo to joint command for simulation -->
    <node pkg="my_robot" type="servo_to_joint.py" name="servo_to_cmd" output="screen">
        <rosparam file="$(find my_robot)/config/arm_servo.yaml" command="load" />
    </node>

</launch>
