<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # args -->
    <arg name="lidar_enabled" default="true" />
    <arg name="gps_enabled" default="true" />
    <arg name="imu_enabled" default="true" />
    <arg name="tf_odom_enabled" default="true" />

    <!-- # gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="worlds/empty.world" /> -->
        <arg name="world_name" value="$(find my_robot)/worlds/cloister-1.world" />
        <!-- <arg name="world_name" value="$(find my_robot)/worlds/playpen-1.world"/> -->
        <!-- <arg name="world_name" value="$(find my_robot)/worlds/gallery-1.world" /> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- # load robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot)/urdf/robot.urdf.xacro'
        --inorder
        lidar_enabled:=$(arg lidar_enabled)
        gps_enabled:=$(arg gps_enabled)
        imu_enabled:=$(arg imu_enabled)
        tf_odom_enabled:=$(arg tf_odom_enabled)
        " />

    <node name="spawner_model" pkg="gazebo_ros" type="spawn_model"
          args="-x 0
                -y 0
                -z 0
                -R 0
                -P 0
                -Y 0
                -urdf
                -model robot
                -param robot_description" />

    <!-- # arm joint and robot state -->
    <include file="$(find my_robot)/launch/arm_trans.launch" />
    <include file="$(find my_robot)/launch/arm_servo.launch" />

</launch>
